<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Pages</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <th>Name key</th>
        <th>Title</th>
        <th>Button order</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
          <tr>
            <td><%= link_to page.name_key, page %></td>
            <td><%= page.title %></td>
            <td><%= page.button_order %></td>
            <td>
              <% if page.visible? %>
                <%= link_to("#{fa_icon 'eye'} Visible".html_safe, hide_page_path(page), class: 'label label-success', method: :put) %>
              <% else %>
                <%= link_to("#{fa_icon 'eye-slash'} Hidden".html_safe, reveal_page_path(page), class: 'label label-warning', method: :put) %>
              <% end %>
              <%= link_to "#{fa_icon 'pencil'} Edit".html_safe, edit_page_path(page), class: 'btn btn-default btn-xs' %>
              <%= link_to "#{fa_icon 'trash'} Destroy".html_safe, page_path(page), class: 'btn btn-danger btn-xs', method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New page', new_page_path, class: 'btn btn-default' %>
  </div>
</div>